# Go specific
*.o
*.a
*.so
*.dylib
*~
_obj
_test
*.exe
*.test
*.prof
go.work

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode specific
## User settings
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

## Build generated
build/
DerivedData/
output/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# XCFramework files
*.xcframework

# Our build output
/output/
